$font-body:          'Rubik-Regular';
$font-medium:        'Rubik-Medium';
$font-light:         'Rubik-Light';
$font-bold:          'Rubik-Bold';
$opensans-semibold:  'OpenSans-SemiBold';
$dark:                #0f1222;
$dark-74:             #4D505B;
$bright-blue:         #0364ff;
$bright-blue-hover:   #0459e0;
$black-two:           #333333;
$dark-gray:           #999999;
$white-80:            #DAE8F9;
$slate-two:           #535875;
$slate-two-50:        #A6A8B7;
$slate-two-60:        #9699AA;
$slate-two-84:        #6E728A;
$blue-purple:         #374fc7;
$pale-grey-eight:     #fafbfc;
$grey:                #f5f6fa;
$lipstick-two:        #ea1f62;
$orange:              #e46d14;
$shamrock:            #00aa5a;
$lipstick-three:      #cd192e;
$light-blue-grey:     #d6d8e6;
$dark-indigo:         #0a0a34;
$bright-blue-two:     #0263ff;
$white-40:            #67A1FF;
$slate-grey:          #525a65;
$cloudy-blue:         #aeb3cd;
$blue-grey:           #5e6c84;
$blue-grey-hover:     #4A5870;
$green:               #01c0aa;
$green-hover:         #01AA97;
$pink:                #ee2e6b;
$pink-hover:          #E6195A;
$yellow:              #fdb208;
$yellow-hover:        #f7ad04;
$blue:                #2A4077;
$blue-hover:          #233970;

$openSansSemiBold:'OpenSans-SemiBold';
$RubikRegular: 'Rubik-Regular';
$RubikMedium: 'Rubik-Medium';
$RubikBold: 'Rubik-Bold';
$blue: #2a4077;
$palegrey: #f5f6fa;
$lightblue: #0364ff;