.lg-kz, .lg-qaz{
font-family:'PTSans-Regular' !important;
/*'FranklinGothicMedium'*/
.dflex-lang div, .express-extension .button-yellow, .form-main .form-1 span, .form-main .form-1 textarea,
.form-main .form-1 input, .form-main .flex-smile .it-1, .slide-text .title, .calc_block .df2, .calc-form .form-1 span,
.calc-form .total, .tab-pane1 .title-text, .modal-extension .form-1 p, .modal-extension .form-1 input,
.button-orange{
font-family:'PTSans-Bold' !important;
}

/*'stroke-medium'*/
/*.disable, .tab-pane1 .title, .banner-flex .text .text2, .calc_block .df1,
.modal-extension .modal-title, .modal-extension .modal-title{
font-family:'Roboto-BoldItalic' !important;
}*/

/*'FranklinGothicDemiCond'*/
.banner-flex .text .text3, .dflex-faq .panel-heading .panel-title a, .block3 .block3-1 li,
.marker-modal .mm-1 h4{
font-family:'Roboto-Bold' !important;
}

/*'FranklinGothicBook'*/
.banner-flex .text .text4, .calc-form .form-1 select, .marker-modal .mm-1 p, .hint-ult, .titlem1, .block1 .title1, .modal-form .title{
    font-family:'PTSans-Regular' !important;
}

/*"FranklinGothicBook-Italic"*/
.block1 .text_p a{
font-family:'PTSans-RegularItalic';
}
.new-class-smart .hint {
    top: 19%;
}
.new-class-presents .hint {
    top: 72%;
}
.new-class-vip .hint{
    top: 68%;
}
.new-class-percent .hint {
    top: 52%;
}
}
.menu-kz-lg{
font-family:'PTSans-Bold' !important;
}