@media(max-width:980px) {
    main .desktop, .header-desktop, .footer-desktop {
        display: none;
    }
    main .mobile, .header-mobile, .footer-mobile {
        display: block;
    }
    img {
        object-fit: cover;
    }
    .header-mobile .modal-menu {
        position: absolute;
        margin-top: 6%;
        margin-left: 83%;
        background: transparent;
        border: none; 
        width: 15vw; 
        height: 10vw;
      }
    .header .modal-dialog {
        margin-top: 17%;
    }
    .header-mobile .btn-logo {
        background: transparent;
        position: absolute;
        margin-top: 5%;
        margin-left: 7%;
        width: 30vw;
        height: 10vw;
    }
    .header-mobile .modal-content {
        border: none;
        border-radius: 16px;
    }
    .header-mobile .header-link {
        background: transparent;
        margin-top: 4%;
        margin-left: 43%;
        width: 30vw;
        height: 10vw;
        z-index: 9;
    }
    .header-mobile .btn-header-mobile {
        /* background: red; */
        width: 50%;
        height: 9.7vw;
        z-index: 9;
        /* margin-top: 5%; */
    }
    .header-mobile .modal-content img {
        width: 100%;
    }
    .header-mobile .close {
        margin-top: -87%;
        margin-left: 87%;
        width: 7vw;
        height: 4vh;
    }
    footer .footer-mobile form {
        margin-left: 7.5%;
        z-index: 999;
        margin-top: -150%;
        position: absolute;
    }
    footer .footer-mobile form .form-control-2 {
        width: 85vw;
        border-radius: 8px;
        height: 15vw;
        font-size: 16px;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }
    footer .footer-mobile form .form-control-2::placeholder {
        font-size: 16px;
        opacity: 0.75;
        color: #5A7184;
    }
    footer .footer-mobile .form-control-2.text-input {
        height: 15vh;
    }
    footer .footer-mobile form .btn {
        width: 44vw;
        height: 8.5vh;
        /* width: 11.8vw; */
        border-radius: 8px;
        background-color: #1565D8;
        font-size: 18px;
        font-weight: 700;
    }
    footer .footer-mobile .social:hover {
        text-decoration: none;
    }
    footer .footer-mobile .social {
        background-color: transparent;
        width: 15vw;
        position: absolute;
        left: 57.5%;
        margin-top: 41%;
        height: 5vw;
    }
    footer .footer-mobile .social-2{
        /* background-color: red; */
        width: 40vw;
        left: 45%;
        margin-top: 55.6%;
    }
    footer .footer-mobile .social-3{
        /* background-color: red; */
        width: 35vw;
        left: 55%;
        margin-top: 70.6%;
    }
    footer .footer-mobile .social-4{
        /* background-color: red; */
        width: 35vw;
        left: 56%;
        margin-top: 86%;
    }
    #banner-mobile .btn-banner {
        background-color: transparent;
        position: absolute;
        margin-top: 87%;
        margin-left: 7%;
        width: 40vw;
        height: 12vw;
    }
    #banner-mobile .btn-2 {
        /* background-color: red; */
        margin-left: 52.5%;
    }
    #win-mobile .conditions {
        /* position: absolute; */
        margin-top: -46.5%;
        margin-left: 10vw;
        height: 9.5vh;
        border-radius: 6px;
        width: 80vw;
        /* width: 360px; */
        /* align-self: center; */
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
    }
    #card-mobile .card-1 {
        margin-top: 272%!important;
    }
    #card-mobile .card-2 {
        margin-top: 534%!important;
    }
    #card-mobile .card-3 {
        margin-top: 797%!important;
    }
    #card-mobile .card {
        position: absolute;
        margin-top: 1060.5%;
        margin-left: 8%;
        height: 13vw;
        width: 40vw;
        padding-top: 12px;
        /* align-self: center; */
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
    }
    #card-mobile .card.btn-2 {
        /* margin-top: 1121%; */
        margin-left: 53%!important;
    }
    #service-mobile .services {
        background-color: transparent;
        margin-top: -552%;
        margin-left: 11.5%;
        width: 77.5vw;
        height: 12vw;
    }
}